.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product {
  background: white;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 15px;
  width: 500px;
  height: 250px;
  margin: 25px;
}

.product-title {
  text-align: center;
  display: flex;
  height: 15%;
  background: red;
  border-radius: 13px 13px 0px 0px;
  justify-content: center;
  align-items: center;
}

.product-content{
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background: coral;
  height: 50%;

}

.product-img{
  width: 35%;
  background: blue;
}

.product-img img{
  height: 125px;
  width: 125px;
}
.product-desc{
  width: 65%;
  background: greenyellow;
}

.quantity{
  background: hotpink;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}

.product-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background: indigo;
  height: 22%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.product-footer p{
  
}

